.main-edit-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
 

  height: calc(100vh - 48px);
  justify-items: center;

  .cropper {
    display: flex;
    justify-content: center;
    height: auto;
    max-height: 80vh;
    width: auto;
    max-width: 100vh;
  //  background-color: red;
   // margin-top: 3.5rem;
    
  }
}
