.main-edit-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;   
    flex-wrap: wrap;    
    width: 100%;    
    height: calc(100vh - 48px);
    
    img{
         width: 30%;
         margin: auto;
         cursor: pointer;
    }
}