.picture-view {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;

  main {
    display: grid;
    grid-template-columns: auto 1fr;

    .editor-main {
      display: grid;
      grid-template-rows: 1fr auto;

      .area-cropper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        button{
          background-color: var(--background-color);
          color: var(--text-color);
          border: solid 1px var(--border-color);
          padding: 0.4rem;
          cursor: pointer;
        }

        .upload-image {
          display: flex;
          align-items: center;
        }

        .cropper-picture {
          display: flex;
          justify-content: center;

          .advanced-cropper {   
          
            height: calc(100vh - 200px);
            max-height: 100vh;
           
          }
        }
      }
    }
  }
}
