.picture-view {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;

  main {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;

    .editor-main {
      display: grid;
      grid-template-rows: 1fr auto;

      .area-cropper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .upload-image {
          display: flex;
          align-items: center;
        }

        .cropper-picture {
          display: flex;
          justify-content: center;

          .advanced-cropper {    
            margin-top: 3rem;      
            height: 85vh;
            max-height: 100vh;
            position: relative;
          }
        }
      }
    }
  }
}
