@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main {
  position: relative;
  max-width: 2560;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;

  &__section_one {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "content content image image"
      "content content image image";
    grid-template-rows: 1fr;
    padding: var(--spacing-m);
    background: rgb(18, 151, 199);
    background: linear-gradient(
      220deg,
      rgba(79, 156, 156, 0.205) 20%,
      rgba(24, 23, 23, 0.795) 80%
    );
    overflow-x: hidden;

    &__content {
      grid-column: 1/3;
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      gap: 1rem;
      padding: 6rem;

      h1 {
        font-size: 3rem;
        font-weight: 600;

        strong {
          color: var(--primary-500);
        }
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 400;

        strong {
          color: var(--primary-500);
        }
      }

      &__acccess_picture {
        max-width: 150px;
      }
    }

    &__image {
      grid-area: image;
      //grid-column: 3/5;
      justify-self: center;
      place-content: center;
      position: relative;
      width: 600px;

      img {
        position: absolute;
        top: 6rem;
        left: -20px;
        opacity: 0;
        animation: slide 18s infinite;
        object-fit: cover;
        width: 100%;
        max-width: 650px;
        max-height: 400px;
        box-shadow: var(--shadow-elevation-3);
        border-radius: var(--border-radius-l);

        &:nth-child(1) {
          animation-delay: 0s;
        }

        &:nth-child(2) {
          animation-delay: 3s;
        }

        &:nth-child(3) {
          animation-delay: 6s;
        }

        &:nth-child(4) {
          animation-delay: 9s;
        }

        &:nth-child(5) {
          animation-delay: 12s;
        }

        &:nth-child(6) {
          animation-delay: 15s;
        }

      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "image"
        "content";
      grid-template-rows: 250px 1fr;

      &__content {
        padding: 2rem;

        h1 {
          font-size: 2rem;
          font-weight: 600;
        }
      }

      &__image {
        position: relative;
        margin-top: 3rem;
        bottom: 9rem;
        img {
          width: 100%;
          max-height: 300px;
        }
      }
    }

    @media screen and (width <= 599px) {
      &__content {
        overflow: hidden;
        width: 350px;
        margin-top: 0rem;
        h1 {
          font-size: 32px;
        }
      }

      &__image {
        width: 450px;
      }
    }
  }

  &__section_two {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: var(--spacing-m);
    gap: 1rem;

    &__image {
      grid-column: 1/3;
      display: flex;
      justify-self: center;
      gap: 1rem;

      img {
        width: 100%;
        max-height: 500px;
        box-shadow: var(--shadow-elevation-3);
        border-radius: var(--border-radius-l);
      }
    }

    &__content {
      grid-column: 3/4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      //color: rgb(19, 13, 13);

      &__title {
        font-size: 2rem;
        font-weight: 600;
        color: var(--secondary-200);

        strong {
          color: var(--primary-500);
        }
      }

      &__description {
        font-size: 1.3rem;
        font-weight: 400;
        color: var(--secondary-300);

        strong {
          color: var(--primary-500);
        }

      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      &__image {
        grid-column: 1/2;
        grid-row: 1/2;
        img {
          max-height: 300px;
        }
      }

      &__content {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }
  }
}

@keyframes slide {
    0% {
    transform: translateX(300px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 0.2;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

@media screen and (width <= 768px) {
  .main {
    &__section_one {
      height: 50rem;
    }
  }
}