@mixin editor-picture-style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  .cropper-picture {
    display: flex;
    justify-content: center;
    width: 100%;

    .advanced-cropper {
      height: calc(100vh - 200px);
      max-height: 100vh;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.picture-view {
  height: 100vh;
  display: grid;
  grid-template-columns: 50px max(250px) max(100px) repeat(2, 1fr);
  grid-template-rows: 3rem 1fr 3rem;

  .header {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    border-bottom: solid 1px var(--border-color);
  }

  .menu-lateral {
    grid-column: 1;
    grid-row: 2 / 4;
    order: 1;
    border-right: solid 1px var(--border-color);
  }

  .menu-lateral-secondary {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    order: 0;
    padding: var(--spacing-s) var(--spacing-s);
   
    border-right: solid 1px var(--border-color);
    width: 100%;
    animation: width .2s ease-out;
  }

  .asidebar-secondary {
    width: 0%;
    animation: .2s closed ease-out;
  }

  .editor-cropper {
    grid-column: 3/6;
    @include editor-picture-style;
  }

  .editor-cropper-plus {
    grid-column: 2/6;
    @include editor-picture-style;
  }

  .footer {
    grid-column: 3/6;
    grid-row: 3 / 4;
    border-top: solid 1px var(--border-color);
  }

  .footer-plus {
    grid-column: 2/6;
    grid-row: 3 / 4;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 3rem 1fr 3rem;
    height: 100vh;
    
    .menu-lateral{
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3 ;
      border: none;
     /*  background-color: rgb(27, 131, 35); */
    }

    .menu-lateral-secondary{
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3 ;
      border: none;

     /*  background-color: rgb(155, 19, 182); */
    }

    .editor-cropper{
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
      background-color: rgb(173, 41, 140); 
    }

   .editor-cropper-plus{
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
      background-color: rgb(173, 41, 140); 
    }

    .footer{
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 3;
       background-color: rgb(17, 185, 185);
    }

    .footer-plus{
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 3;
      background-color: rgb(17, 185, 185); 
    }
    
  }
}

@keyframes width {
  0% {
    width: 0%;
  }
}

@keyframes closed {
  0% {
    width: 100%;
  }
}