.menu-color {
  background-color: var(--secondary-100);
  color: var(--text-color);

  border-radius: 4px;
  padding: 6px;

  .container-input-color {
    width: 100%;

    p {
      color: var(--text-color);
    }
  
    .section-slider-change {
      background-color: var(--secondary-300);
      border-radius: 2px;
      display: block;
      justify-content: right;
      top: -1rem;
      left: 10.2rem;
      position: relative;
      padding: 1px 4px;
      width: 2.5rem;
      text-align: right;
  
      p {
        font-size: 12px;
  
        span {
          font-size: 11.2px;
          margin-left: 1px;
        }
      }
    }
  }

  .section-optional {
    border-radius: 3px;
    display: flex;
    flex-direction: row;
  }
}
