.menu-lateral {
  display: flex;

  .section-actions {
    font-family: "Mulish", "Avenir Next", "Trebuchet MS", sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    z-index: 1;
    overflow: hidden;

    .anchor {
      display: none;
      text-decoration: none;
      color: var(--text-color);
      opacity: 1;
    }

    &:hover .anchor {
      display: block;
      width: 140px;
      position: relative;
      float: right;
      top: -17px;
      right: -1.3rem;
      margin-left: 4px;
      font-size: 14px;
      cursor: pointer;
      z-index: 10;
      animation: 0.7s aparicionLateral 1;
    }

    &:hover .icon {
      color: var(--text-color);
      transition: 0.5s ease-in-out;
    }

    &:active .anchor {
      width: 0;
      animation: 0.8s reverseAside 1;
    }

    aside {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .item-menu {
        display: block;
        list-style: none;
        justify-content: left;
        align-content: center;

        .item-menu-li {
          display: block;
          flex-direction: column;
          justify-content: left;
          margin: 6px 8px;
          padding: 4px 8px 6px 8px;
          color: var(--color-icon-actived);

          &.active {
            .icon {
              color: var(--text-color);
            }
          }

          &:hover {
            background-color: var(--hover-color);
            color: var(--text-color);
            border-radius: 2px;
            transition: 0.5s ease-in-out;
            cursor: pointer;
          }
        }

        .clear-fixed {
          clear: both;
          float: none;
        }
      }
    }

    @keyframes aparicionLateral {
      0% {
        width: 0px;
      }
    }

    @keyframes reverseAside {
      from {
        width: 140px;
      }
      to {
        width: 0px;
      }
    }
  }
}
