.cropper_picture {
  display: flex;
  flex-direction: row;
  position: relative;

  max-width: 100%;
  max-height: 85vh;
  margin: 2rem;

  canvas {
    width: 100%;
    object-fit: contain;
  }

  &__editing_text {
    position: absolute;
    top: 1rem;
    left: 1rem;
    input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #000;
        border-radius: 0.25rem;
    }
    
  }
}
