section {
    background-color: #272829;
    display: flex;
    width: 64px;
    height: 100%;
    position: fixed;
    top: 56px;
    left: 0px;
    bottom: 40px;
    border-right: solid;
    border-color: #858585;

    aside{
        padding-left: 6px;
        display: flex;
        float: left;
        align-items: center;
        height: 100%;
        margin-top: -96px;
       
    }

    button {
        display: flex;
        margin: 12px 6px;
        padding: 8px 6px;
        color: #858585;

    }
    

    button:hover {
        background-color: #555;
        border-radius: 3px;
    }
      
      .clear-fixed {
        clear: both;
        float: none;
    }

    }

    

    
