.menu-lateral {
  display: flex;

  .section-actions {
    background-color: var(--background-color);
    z-index: 5;

    p {
      display: none;
      width: 100%;
      justify-content: left;
      opacity: 1;
    }

    aside {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .item-menu {
        display: flex;
        flex-direction: row;

        button {
          margin: 6px 10px;
          padding: 8px 4px;
          color: hsl(0, 0%, 40%);

          &:hover {
            border-radius: 2px;
            transition: 0.5s ease-in-out;
            cursor: pointer;
          }
        }

        .clear-fixed {
          clear: both;
          float: none;
        }
      }

      &:hover {
        p {
          display: inline;
          width: 160px;
          justify-content: left;
          font-size: 16px;
          margin: auto;
          margin-left: -8px;
          cursor: pointer;
          z-index: 10;
          animation: 0.8s aparicionLateral 1;
        }
      }
    }
  }

  .section-components {
    margin-left: 50px;
    border-right: solid 1px #858585;

    background-color: var(--background-color);
    height: 100%;
    z-index: 0;
  }
}
