input {
  border: 1px solid transparent;
  border-bottom-color: var(--toggle-bg);
  background-color: transparent;
  transition: border 1s ease-in-out;
  color: var(--text-color);

  &:focus-visible {
    outline: 1px solid var(--border-color-dark);
    border-radius: 2px;    
  }
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;

  justify-content: center;

  .content-image {
    display: flex;

    img {
      border-radius: 2px;
      width: 10rem;
      height: 9rem;
      object-fit: cover;
      cursor: pointer;
      transition: width ease-in-out 0.5s, transform 1s ease-out, height ease-in-out 0.5s;
      animation: fadeInAndScale 2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      @keyframes fadeInAndScale {
        0% {
          opacity: 0;
          transform: scale(0.2);
        }
        25% {
          opacity: 0;
          transform: scale(0.4);
        }
        75% {
          opacity: 0;
          transform: scale(0.8);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  button {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 3px;
    padding: 0 8px;
    margin: 12px 6px;
    width: auto;
    height: 30px;
    cursor: pointer;
    &:hover {
      background-color: var(--hover-color);
    }
  }
}
