.form {
  width: 100%;
  height: 50px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  top: -1rem;

  input {
    border: none;
    background: none;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    outline: 0px;
    padding-top: 20px;
  }

  .label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid var(--toggle-fg);

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 100%;
      border-bottom: 3px solid var(--toggle-bg);
      transform: translateX(-100%);
      transition: all 0.3s ease;
    }
  }

  .text-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: var(--text-color);
  }
}

.form input:focus + .label .text-name,
.form input:valid + .label .text-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: var(--toggle-fg);
}

.form input:focus + .label:after,
.form input:valid + .label:after {
  transform: translateX(0%);
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;

  justify-content: center;

  .content-image {
    display: flex;

    img {
      border-radius: 2px;
      width: 10rem;
      height: 9rem;
      object-fit: cover;
      cursor: pointer;
      transition: width ease-in-out 0.5s, transform 1s ease-out,
        height ease-in-out 0.5s;
      animation: fadeInAndScale 2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      @keyframes fadeInAndScale {
        0% {
          opacity: 0;
          transform: scale(0.2);
        }
        25% {
          opacity: 0;
          transform: scale(0.4);
        }
        75% {
          opacity: 0;
          transform: scale(0.8);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  button {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 3px;
    padding: 0 8px;
    margin: 12px 6px;
    width: auto;
    height: 30px;
    cursor: pointer;
    &:hover {
      background-color: var(--hover-color);
    }
  }
}
