[data-theme="dark"] {
  --background-color: var(--background-dark);
  --background-color-secondary: hsl(0, 0%, 15%);
  --text-color: var(--text-color-light);
  --text-secondary: hsl(0, 0%, 70%);
  --border-color: var(--border-color-dark);
  --shadow-color: var(--shadow-color-dark);

  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  --color-primary-light: #00a6ff;

  --secondary-000: #242631;
  --secondary-100: #2a2c3b;
  --secondary-200: #2e313f;
  --secondary-300: #353948;
  --secondary-400: #484d61;
  --secondary-500: #5c607e;
  --secondary-600: #787ca0;
  --secondary-700: #adb1cc;
  --secondary-800: #f1f1f1;
  --primary-100: #36365f;
  --primary-200: #424284;
  --primary-300: #445cd4;
  --primary-400: #647dff;
  --primary-500: #8a9dff;
  --primary-600: #c0c9fa;
}
