
/*global*/
@use './assets/styles/global';

/*base*/
@use './assets/styles/config/base/reset';
@use './assets/styles/config/base/base';



 /* width */
 ::-webkit-scrollbar {
    width: 6px;
  }
  
 
  /* Track */
  ::-webkit-scrollbar-track {
    background:var(--secondary-000);
  }
 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-300);
  }
 
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  var(--secondary-400);
  }