/*abstract*/
@use './assets/scss/abstract/mixins';
@use './assets/scss/abstract/variables';

/*base*/
@use './assets/scss/base/reset';
@use './assets/scss/base/base';

/* html {
    background-color: var(--background-color);
    color: var(--principal-text-color);
} */

.app {
    background-color: var(--background-color);
    color: var(--text-color);

}