#footer {
    display: flex;    
    width: calc(100% - 49px);
    background-color: #272829;
    margin-left: 49px;    
    align-items: center;
    align-content: center;
    flex-direction: row;
    border-top: 2px solid;
    border-color: #858585; 
    padding: 0 16px;
    flex-direction: row;
    justify-content: space-between;

  div {
    display: flex;
    height: auto;
    align-items: center;
    margin: 2px ;
    

    button {
      margin: 6px 8px;
      padding: 8px 4px;
      color: whitesmoke;

      &:hover {
        border-radius: 3px;
      }
    }
  }

}
